<!DOCTYPE html>
<html ng-app="ArmchairPhilosophy">
  <head>
    <meta charset="utf-8">
    <title>Armchair Philosophy</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link href='https://fonts.googleapis.com/css?family=Philosopher' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-cookies.js"></script>
  </head>
  <body class="container">

    <section ng-controller='UsersController'>
<div id="user-field">
      <div ng-hide="token" class="sign-up">
        <h3>Sign Up:</h3>
        <form ng-submit="createUser()">
          <input class="user-input" type="text" ng-model="newUser.username" placeholder="...username">
          <input class="user-input" type="password" ng-model="newUser.password" placeholder="...password">
          <input type="submit">
        </form>
      </div>

      <div ng-hide="token" class="log-in">
        <h3>Log In:</h3>
        <form ng-submit="obtainToken()">
          <input class="user-input" type="text" ng-model="logInUser.username" placeholder="...username">
          <input class="user-input" type="password" ng-model="logInUser.password" placeholder="...password">
          <input type="submit">
        </form>
      </div>
</div>
      <div class="meta-information">
        <h2>
          {{ welcome }}
        </h2>
      </div>

      <!-- <h1 ng-model="users" ng-show="token">Welcome!</h3> -->
      <button id='logout' ng-show="token" type="button" ng-click="logOut()" name="button">LogOut</button>

      <div ng-show="token" class="new-reflection">
      </br>
        <form ng-submit='createReflection()'>
          <textarea ng-model="newReflection.post" type="text" placeholder='...name'></textarea>
        </br>
          <input id="post-submit" type="submit">
        </form>
      </div>

      <div ng-repeat="user in users">
        <span ng-click="user.reflectionsDisplay = !user.reflectionsDisplay">
          <h4>{{ user.username }}</h4>
          <div ng-show="user.reflectionsDisplay">
            <div ng-repeat="reflection in user.reflections">
              <p class="postpara">
                {{reflection.post}}
              </p>
            </div>
          </div>
        </span>
      </div>

    </section>

    <script src="/js/app.js" charset="utf-8"></script>
  </body>
</html>
