body{
  background-image: url("http://b.rarewallpapers.com/media/wallpapers_1024x600/1/cozy-living-room-3577.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}
span h4{
  display: inline;
}
