body{
  background-image: url("http://b.rarewallpapers.com/media/wallpapers_1024x600/1/cozy-living-room-3577.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  color: white;
  text-align: center;
  font-family: 'Philosopher', sans-serif;
}
h4{
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: black;
  background-color: rgba(255, 255, 255, .5);
  border: solid white 1px;
  padding: 5px;
  border-radius: 12px;
}
input[type="submit"] {
  position: relative;
  top: 1px;
  width: 16%;
  background-color: rgba(230, 230, 230, .75);
}
input[type="submit"]:hover {
  background-color: rgba(50, 50, 50, .75);
  color: white;
}
textarea{
  font-family: 'Philosopher', sans-serif;
  margin-bottom: 13px;
  color: black;
  font-weight: bolder;
  font-size: 1em;
  background-color: rgba(230, 230, 230, .75);
  width: 335px;
  height: 165px;
}
.philobuttons{
  background-color: rgba(230, 230, 230, .75);
}
#thisone{
  background-color: rgba(230, 230, 230, .75);
}
.postpara{
  cursor: pointer;
  border-radius: 12px;
  display: inline-block;
  background-color: rgba(25, 25, 25, .80);
  border: solid white 1px;
  word-wrap: break-word;
}
